*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html{
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
	line-height: 1;
	height: 100%;
	width: 100%;
	background-color: #e0e0e0;
	text-align: left;
	color: #333;
}
p{
	font-size: 1.6rem;
	font-weight: 300;
	margin: 0 0 2rem;
	line-height: 1.5;
	color: inherit;
	text-align: justify;
}
h2{
	font-size: 2.4rem;
	margin: 0 0 .5rem;
	color: inherit;
}
.container{
	max-width: 1170px;
	margin: 3rem auto 0;
	padding: 30px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.tooltip{
	text-decoration: underline;
}
.tooltip-window{
	display: none;
	position: fixed;
	font-family: 'Lucida Console', sans-serif;
	font-size: 1.2rem;
	line-height: 1.2;
	letter-spacing: 1px;
	font-weight: normal;
	word-wrap: break-word;
	word-break: break-all;
	max-width: 350px;
	min-width: 100px;
	max-height: 400px;
	background-color: #333;
	color: #fff;
	border-radius: 4px;
	padding: 1rem;
	margin-top: 1rem;
	margin-left: 1rem;
	box-shadow: 0 0 60px rgba(0,0,0,0.3);
}
.tooltip{
	font-weight: bold;
	font-style: italic;
}
.tooltip[data-tooltip-type="primary"]{
	color: #2979ff; /* fallback */
	color: rgb(41, 121, 255);
}
.tooltip[data-tooltip-type="success"]{
	color: #0f9d58; /* fallback */
	color: rgb(15, 157, 88);
}
.tooltip[data-tooltip-type="info"]{
	color: #00b0ff; /* fallback */
	color: rgb(0, 176, 255);
}
.tooltip[data-tooltip-type="warning"]{
	color: #ff8f00; /* fallback */
	color: rgb(255, 143, 0);
}
.tooltip[data-tooltip-type="danger"]{
	color: #e91e63; /* fallback */
	color: rgb(233, 30, 99);
}
@media (max-width: 768px){
	.tooltip-window{
		margin-top: 25px;
	}
}